@import "~bootstrap";

body {
    background: wheat;
}

.content-container {
    position: relative;
    padding-top: 20px;
}

.panel-rounded {
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 1px 1px rgba(#000, 0.1);
}

.top-alert {
    position: absolute;
    top: -150px;
    width: 100%;
    transition: margin-top 1s;
}

.top-alert__visible {
    margin-top: 130px;
}

.custom-form-call {
    margin-top: 30px;
}

.ajax-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
}