<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Twilio call</a>
        <span>leo@truecare24.com</span>
    </div>
</nav>
<div class="container">
    <div class="content-container">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}

{{ encore_entry_script_tags('app') }}
</body>
</html>
